<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>    
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLInnoDBDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.username">root1003</property>
    <property name="hibernate.connection.password">Wen6482385</property>
    <property name="hibernate.connection.url">jdbc:mysql://rm-bp1mx76m49p14257b.mysql.rds.aliyuncs.com:3306/beijingzhuanqian?useUnicode=true&amp;characterEncoding=UTF-8&amp;autoReconnect=true</property>
    <property name="hibernate.connection.shutdown">true</property>
    </session-factory>
</hibernate-configuration>
